<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Generator</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/assets/cat-logo.png" type="image/png">
    <script src="/static/index.js" type="module"></script>
</head>
<body>
    <h1>Cat Image Generator</h1>
    <div id="result">
        <img id="cat-image" src="/static/assets/cat_placeholder.jpg" alt="Placeholder">
        <div id="loading-indicator" style="display: none;">
            <img src="/static/assets/loading-cat.gif" alt="Loading..."/>
        </div>
    </div>
    <form id="imageForm">
        <label for="theme">Breed:</label>
        <input type="text" id="breed" name="breed"><br>

        <label for="color">Color:</label>
        <input type="text" id="color" name="color"><br>

        <!-- <label for="style">Art Style:</label>
        <select id="style" name="style">
            <option value="realistic">Realistic</option>
            <option value="cartoon">Cartoon</option>
            <option value="abstract">Abstract</option>
            <option value="vintage">Vintage</option>
        </select><br> -->

        <button id="gen-button" type="button">Generate Image</button>
    </form>
</body>
</html>
